body{
  margin:0;
  background:linear-gradient(#9ee7ff,#fff);
  overflow:hidden;
  font-family:Comic Sans MS;
}

#topBar{
  position:fixed;
  top:10px;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  font-size:28px;
}

#question{
  margin-top:70px;
  text-align:center;
  font-size:36px;
}

#gameArea{
  position:fixed;
  bottom:0;
  width:100%;
  height:80%;
}

.balloon{
  position:absolute;
  bottom:-120px;
  font-size:70px;
  animation:fly 6s linear forwards;
  cursor:pointer;
}

@keyframes fly{
  from{bottom:-120px;}
  to{bottom:110%;}
}

#startScreen,#endScreen{
  position:fixed;
  inset:0;
  background:rgba(255,255,255,.95);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#startScreen button,#endScreen button{
  padding:20px 60px;
  font-size:36px;
  border-radius:20px;
  border:none;
  background:#ffcc00;
}
#endScreen{display:none;}
