body{
  margin:0;
  overflow:hidden;
  background:linear-gradient(#AEEBFF,#E0F9FF);
  font-family:Comic Sans MS;
}

#hud{
  position:fixed;
  width:100%;
  top:10px;
  display:flex;
  justify-content:space-between;
  padding:0 30px;
  font-size:26px;
}

#question{
  position:fixed;
  top:60px;
  width:100%;
  text-align:center;
  font-size:34px;
}

#startScreen{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
}

#startBtn{
  padding:40px 120px;
  font-size:60px;
  border:none;
  border-radius:40px;
  background:#FFD93D;
  box-shadow:0 10px 0 #C9A000;
}

#gameArea{ position:fixed; inset:0; }

.balloon{
  position:absolute;
  bottom:-120px;
  width:90px;
  height:110px;
  border-radius:50%;
  cursor:pointer;
  animation:float 8s linear forwards;
}

.red{background:#FF5C5C;}
.blue{background:#5CB9FF;}
.yellow{background:#FFD93D;}
.green{background:#7CFF7C;}
.pink{background:#FF8EDB;}

@keyframes float{
  from{bottom:-120px}
  to{bottom:110%}
}

#gameOver{
  position:fixed;
  inset:0;
  background:rgba(255,255,255,.95);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:36px;
}

.hide{display:none}
