body{
  margin:0;
  background:linear-gradient(#AEE7FF,#FFF);
  overflow:hidden;
  font-family:Comic Sans MS;
}

#startScreen,#endScreen{
  position:absolute;inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#startScreen button,#endScreen button{
  font-size:40px;
  padding:20px 60px;
  border-radius:30px;
  border:none;
  background:#FF6F91;
  color:white;
  box-shadow:0 8px 0 #C94C69;
}

#hud{
  position:fixed;top:15px;width:100%;
  display:flex;justify-content:space-around;
  font-size:28px;font-weight:bold;
}

.hide{display:none}

.balloon{
  position:absolute;
  bottom:-150px;
  width:120px;height:150px;
  background:radial-gradient(circle at 30% 30%,#fff,#ff4d6d);
  border-radius:50% 50% 50% 50%;
  display:flex;justify-content:center;align-items:center;
  font-size:36px;color:white;font-weight:bold;
  cursor:pointer;
  animation:float 14s linear forwards;
}

@keyframes float{
  to{transform:translateY(-110vh)}
}

