body{
  margin:0;
  background:linear-gradient(#ccefff,#ffffff);
  overflow:hidden;
  font-family:'Comic Sans MS',cursive;
}

#startScreen,#endScreen{
  position:fixed;
  inset:0;
  background:#ccefff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:10;
}

h1{font-size:60px;color:#ff4d79}
h2{font-size:80px;color:#ff4d79}

button{
  font-size:34px;
  padding:18px 60px;
  border:none;
  border-radius:40px;
  background:#ff7fa3;
  color:white;
  box-shadow:0 8px #d94b70;
}

#hud{
  position:fixed;
  top:10px;
  width:100%;
  text-align:center;
  z-index:5;
}

#life{position:absolute;left:20px;font-size:30px}
#timeBox{position:absolute;right:20px;font-size:26px}
#scoreBox{font-size:26px}
#question{font-size:32px;color:#ff4d79}

#gameArea{position:absolute;inset:0}

.balloon{
  position:absolute;
  bottom:-150px;
  width:100px;
  height:140px;
  border-radius:50%;
  animation:float 9s linear forwards;
  cursor:pointer;
}

@keyframes float{to{transform:translateY(-130vh)}}

.red{background:#ff4d4d}
.blue{background:#4da6ff}
.green{background:#4dff88}
.yellow{background:#ffe44d}
.pink{background:#ff7fd8}

.hide{display:none}
