body{
  margin:0;
  background:url("2.jpg") no-repeat center/cover;
  overflow:hidden;
  font-family:'Comic Sans MS', cursive;
}

#topBar{
  position:fixed;
  top:10px;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:0 25px;
  font-size:28px;
  color:#ff5b7f;
  text-shadow:2px 2px white;
}

#question{
  margin-top:80px;
  text-align:center;
  font-size:40px;
  color:#ff5b7f;
  text-shadow:2px 2px white;
}

#gameArea{
  position:fixed;
  bottom:0;
  width:100%;
  height:80%;
}

.balloon{
  position:absolute;
  bottom:-120px;
  width:70px;
  height:90px;
  border-radius:50% 50% 50% 50%;
  animation:fly 7s linear forwards;
  cursor:pointer;
}

.balloon::after{
  content:"";
  position:absolute;
  width:2px;
  height:30px;
  background:#555;
  bottom:-30px;
  left:50%;
}

.red{background:#ff4d6d;}
.blue{background:#4dabff;}
.yellow{background:#ffe066;}
.green{background:#6bff8e;}
.purple{background:#c77dff;}
.pink{background:#ff8fab;}
.orange{background:#ff9f1c;}

@keyframes fly{
  from{bottom:-120px;}
  to{bottom:115%;}
}

#startScreen,#endScreen{
  position:fixed;
  inset:0;
  background:rgba(255,255,255,.9);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#startScreen button{
  padding:35px 100px;
  font-size:50px;
  border-radius:40px;
  border:none;
  background:#ff77a8;
  color:white;
  box-shadow:0 10px #ff4f8b;
}

#endScreen{
  display:none;
  color:#ff5b7f;
}
#endScreen h1{font-size:60px;}
#endScreen button{
  padding:20px 60px;
  font-size:36px;
  border-radius:30px;
  border:none;
  background:#ffc83d;
}
