*{box-sizing:border-box;}

html,body{
  width:100%;
  height:100%;
  margin:0;
}

body{
  background:url("2.jpg") no-repeat center center fixed;
  background-size:cover;
  overflow:hidden;
  font-family:'Comic Sans MS', cursive;
}

/* Top bar */
#topBar{
  position:fixed;
  top:15px;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:0 25px;
  font-size:28px;
  color:#ff3366;
  text-shadow:2px 2px #fff;
}

/* Question */
#question{
  margin-top:80px;
  text-align:center;
  font-size:38px;
  color:#ff3366;
  text-shadow:2px 2px white;
}

/* Game area */
#gameArea{
  position:fixed;
  bottom:0;
  width:100%;
  height:80%;
}

/* Balloon */
.balloon{
  position:absolute;
  bottom:-120px;
  font-size:75px;
  cursor:pointer;
  animation:fly 6s linear forwards;
}

@keyframes fly{
  to{bottom:110%;}
}

/* Start / End screens */
#startScreen,#endScreen{
  position:fixed;
  inset:0;
  background:rgba(255,255,255,.9);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#startScreen button,#endScreen button{
  padding:25px 80px;
  font-size:40px;
  border-radius:30px;
  border:none;
  background:#ffcc00;
  color:#ff3366;
  cursor:pointer;
  box-shadow:0 8px #ffaa00;
}

#endScreen{display:none;}
