body{
  margin:0;
  background:#BEEBFF;
  font-family:Comic Sans MS;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#starHUD{
  position:fixed;
  top:20px;
  display:flex;
  gap:15px;
}

.starHole{
  width:55px;height:55px;
  border-radius:50%;
  border:4px solid gold;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  background:white;
}

.starFill{animation:pop .5s}
@keyframes pop{0%{transform:scale(.2)}70%{transform:scale(1.4)}100%{transform:scale(1)}}

#startScreen{text-align:center}
.startBtn{
  padding:20px 60px;
  font-size:40px;
  border:none;
  border-radius:20px;
  background:#FFD700;
  box-shadow:0 6px 0 #C9A000;
}

#gameArea{text-align:center}
.hide{display:none}

#sessionTitle{font-size:36px;margin:10px}
#progress{font-size:20px}

#question{font-size:90px;margin:20px}

#options{display:flex;flex-direction:column;gap:15px}

.opt{
  background:#FFE082;
  padding:18px 40px;
  border-radius:20px;
  font-size:32px;
  box-shadow:0 6px 0 #C9A000;
  cursor:pointer;
}
.correct{background:#8EFF8E}
.wrong{background:#FF8E8E}
