body{
  margin:0;
  background:#BEEBFF;
  font-family:Comic Sans MS;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#startScreen{text-align:center}

.startBtn{
  padding:22px 70px;
  font-size:42px;
  border:none;
  border-radius:22px;
  background:#FFD700;
  box-shadow:0 7px 0 #C9A000;
  cursor:pointer;
}

#gameArea{text-align:center}

.hide{display:none}

/* STAR BAR */
#starHUD{
  display:flex;
  gap:14px;
  justify-content:center;
  margin-bottom:15px;
}

.starHole{
  width:48px;height:48px;
  border-radius:50%;
  border:4px solid gold;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  background:white;
}

.starFill{animation:pop .5s}
@keyframes pop{0%{transform:scale(.2)}70%{transform:scale(1.4)}100%{transform:scale(1)}}

#sessionTitle{font-size:36px;margin:8px}
#progress{font-size:20px}
#hint{font-size:22px;margin-bottom:6px}
#question{font-size:90px;margin:18px}

#options{
  display:flex;
  flex-direction:column;
  gap:14px;
  align-items:center;
}

.opt{
  background:#FFE082;
  padding:18px 40px;
  border-radius:20px;
  font-size:34px;
  cursor:pointer;
  box-shadow:0 6px 0 #C9A000;
}
.correct{background:#7CFF7C}
.wrong{background:#FF7C7C}
