body{
  margin:0;
  background:#BEEBFF;
  font-family:Comic Sans MS;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#startScreen{text-align:center}

button{
  padding:22px 60px;
  font-size:40px;
  border:none;
  border-radius:22px;
  background:#FFD700;
  box-shadow:0 6px 0 #C9A000;
  cursor:pointer;
}
button:active{transform:translateY(6px);box-shadow:0 2px 0 #C9A000}

.hide{display:none}

#hud{
  font-size:24px;
  margin-bottom:15px;
}

#ball{
  width:260px;
  height:260px;
  border-radius:50%;
  background:orange;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:46px;
  color:white;
  margin:20px auto;
}

#hoops{
  display:flex;
  gap:30px;
}

.hoop{
  width:150px;
  height:90px;
  border:6px solid #333;
  border-radius:0 0 70px 70px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:32px;
  cursor:pointer;
  background:white;
}
.hoop:active{background:#FFE082}
