body{
  margin:0;
  font-family: "Comic Sans MS", "Poppins", cursive;
  background: linear-gradient(#87CEEB,#E0FFFF);
  overflow:hidden;
}

.stage{
  width:100vw;
  height:100vh;
  position:relative;
}

#musicBtn{
  position:fixed;
  top:20px;
  right:20px;
  background:#fff;
  padding:10px 15px;
  border-radius:50%;
  font-size:24px;
  cursor:pointer;
  box-shadow:0 5px 0 #ccc;
}

.btn{
  position:absolute;
  right:80px;
  width:240px;
  padding:22px;
  border-radius:20px;
  font-size:32px;
  text-align:center;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 8px 0 rgba(0,0,0,0.2);
  transition:.2s;
}

.btn:hover{ transform:scale(1.05); }

.story{
  top:40%;
  background:#FFF3A0;
}

.game{
  top:55%;
  background:#D7F0FF;
}

.slide{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.7);
  transform:translateX(-100%);
  transition:.4s;
}

.slide.right{ transform:translateX(100%); }

.slide.show{ transform:translateX(0); }

.pageTitle{
  margin:40px;
  font-size:40px;
  font-weight:bold;
}

.pageBtn{
  margin:30px;
  background:#fff;
  border-radius:15px;
  padding:20px;
  width:300px;
  font-size:22px;
  box-shadow:0 5px 0 rgba(0,0,0,0.2);
  cursor:pointer;
}

.pageBtn:hover{ background:#FFE; }
