html,body{
  margin:0;
  width:100%;
  height:100%;
}

.screen{
  background:url(bg.png) no-repeat center;
  background-size:cover;
  position:relative;
}

/* BUTTON BASE */
.btn{
  position:absolute;
  right:30px;
  padding:18px 30px;
  border-radius:15px;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 6px 0 rgba(0,0,0,.25);
  user-select:none;
}

/* STORY */
.story{
  top:35%;
  background:#fff1a6;
  color:#7a7a00;
}

/* GAME */
.game{
  top:50%;
  background:#cfe8ff;
  color:#2c5c87;
}
