html,body{
  margin:0;
  width:100%;
  height:100%;
}

.stage{
  width:100vw;
  height:100vh;
  background:url (1.jpg) no-repeat center;
  background-size:cover;
  position:relative;
}

/* 3D Button */
.btn{
  position:absolute;
  padding:28px 60px;
  border-radius:22px;
  font-size:48px;
  font-weight:900;
  letter-spacing:2px;
  display:flex;
  align-items:center;
  gap:18px;
  cursor:pointer;
  user-select:none;
  transition:0.1s;
  box-shadow:0 12px 0 rgba(0,0,0,0.25);
}

/* Press effect */
.btn:active{
  transform:translateY(8px);
  box-shadow:0 4px 0 rgba(0,0,0,0.25);
}

/* STORY */
.story{
  left:70px;
  top:150px;
  background:#FFF3B0;
  color:#8C8C32;
}

/* GAME */
.game{
  right:110px;
  top:340px;
  background:#CFEAFF;
  color:#3A6F94;
}
