html,body{
  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.stage{
  width:100vw;
  height:100vh;
  background:url("1.jpg") no-repeat center;
  background-size:cover;
  position:relative;
}

/* MAIN BUTTONS (STORY / GAME) */
.btn{
  position:absolute;
  padding:26px 56px;
  border-radius:20px;
  font-size:46px;
  font-weight:900;
  letter-spacing:2px;
  display:flex;
  align-items:center;
  gap:18px;
  cursor:pointer;
  user-select:none;
  transition:.1s;
  box-shadow:0 10px 0 rgba(0,0,0,.28);
}

.btn:active{
  transform:translateY(7px);
  box-shadow:0 3px 0 rgba(0,0,0,.28);
}

/* STORY BUTTON */
.story{
  left:120px;
  top:150px;
  background:#FFF3B0;
  color:#8C8C32;
}

/* GAME BUTTON */
.game{
  right:140px;
  top:300px;
  background:#CFEAFF;
  color:#3A6F94;
}

/* PANELS */
.panel{
  position:absolute;
  top:300px;
  width:360px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

.left{ left:120px; }
.right{ right:120px; }

.hidden{ display:none; }

/* SUB BUTTONS */
.sub{
  padding:20px 26px;
  border-radius:14px;
  font-size:20px;
  font-weight:700;
  box-shadow:0 7px 0 rgba(0,0,0,.25);
  cursor:pointer;
  user-select:none;
  transition:.1s;
}

.sub:active{
  transform:translateY(5px);
  box-shadow:0 2px 0 rgba(0,0,0,.25);
}

/* STORY SUB */
.storySub{
  background:#FFF3B0;
  color:#8C8C32;
}

/* GAME SUB */
.gameSub{
  background:#D9EEFF;
  color:#3A6F94;
}
